/* Style for the document body */
body {
    background-color: lightblue;
    /* Background color for the body */
}

/* Style for h1 headers */
h1 {
    color: white;
    text-align: center;
    /* Text color and centered alignment */
}
