/* Basic styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  /* Header */
  header {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Hero section */
  .hero {
    background-image: url("path/to/image.jpg"); /* Replace with path to your image */
    background-size: auto;
    background-position: left;
    padding: 200px 0;
    color: white;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.0em;
    line-height: 1.5;
  }
  
  /* Main content */
  main {
    padding: 40px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .content article {
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .content article h2 {
    margin-bottom: 10px;
  }
  
  .content article p {
    line-height: 1.5;
  }
  
  /* Footer */
  footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  /* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEz0dL_nz.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;